## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Access to the gogle API using gmaps
gmaps.configure(api_key=g_key)

In [2]:
gmaps.figure()

Figure(layout=FigureLayout(height='420px'))

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Skibbereen,IE,51.5500,-9.2667,50.11,83,100,15.41,moderate rain
1,1,Bredasdorp,ZA,-34.5322,20.0403,59.72,87,46,3.80,scattered clouds
2,2,Beloha,MG,-25.1667,45.0500,73.27,81,94,16.22,overcast clouds
3,3,Hilo,US,19.7297,-155.0900,74.93,76,0,6.91,clear sky
4,4,Kruisfontein,ZA,-34.0033,24.7314,68.09,37,100,7.49,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria

min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]

In [6]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

Unnamed: 0             186
City                   186
Country                186
Lat                    186
Lng                    186
Max Temp               186
Humidity               186
Cloudiness             186
Wind Speed             186
Current Description    186
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

Unnamed: 0             186
City                   186
Country                186
Lat                    186
Lng                    186
Max Temp               186
Humidity               186
Cloudiness             186
Wind Speed             186
Current Description    186
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,
10,Saint-Philippe,RE,81.21,broken clouds,-21.3585,55.7679,
17,Rikitea,PF,79.09,scattered clouds,-23.1203,-134.9692,
18,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,
19,Vao,NC,75.87,clear sky,-22.6667,167.4833,
20,Georgetown,MY,87.75,few clouds,5.4112,100.3354,
21,Atuona,PF,79.20,few clouds,-9.8000,-139.0333,
22,Labuhan,ID,84.65,overcast clouds,-6.8844,112.2051,
25,Vanimo,PG,76.50,overcast clouds,-2.6741,141.3028,
30,San Patricio,US,76.86,clear sky,28.0170,-97.5169,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,Paradise Inn
10,Saint-Philippe,RE,81.21,broken clouds,-21.3585,55.7679,"Chambres d'hÃ´te ""La TrinitÃ©"""
17,Rikitea,PF,79.09,scattered clouds,-23.1203,-134.9692,People ThankYou
18,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
19,Vao,NC,75.87,clear sky,-22.6667,167.4833,Hotel Kou-Bugny
...,...,...,...,...,...,...,...
705,Sungaipenuh,ID,83.10,broken clouds,-2.0833,101.3833,Penginapan Citra Alam
706,Samarai,PG,84.42,overcast clouds,-10.6167,150.6667,Nuli Sapi
707,Sur,OM,89.71,scattered clouds,22.5667,59.5289,Sur Plaza Hotel
709,Lumut,MY,87.82,scattered clouds,4.2323,100.6298,"Marina Island Pangkor Resort & Hotel (Suites, ..."
711,Tessalit,ML,76.39,clear sky,20.1986,1.0114,

In [11]:
nan_value = float("NaN")
hotel_df = hotel_df.replace("", nan_value)

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,Paradise Inn
10,Saint-Philippe,RE,81.21,broken clouds,-21.3585,55.7679,"Chambres d'hÃ´te ""La TrinitÃ©"""
17,Rikitea,PF,79.09,scattered clouds,-23.1203,-134.9692,People ThankYou
18,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
19,Vao,NC,75.87,clear sky,-22.6667,167.4833,Hotel Kou-Bugny
...,...,...,...,...,...,...,...
701,Metro,ID,82.94,overcast clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang
705,Sungaipenuh,ID,83.10,broken clouds,-2.0833,101.3833,Penginapan Citra Alam
706,Samarai,PG,84.42,overcast clouds,-10.6167,150.6667,Nuli Sapi
707,Sur,OM,89.71,scattered clouds,22.5667,59.5289,Sur Plaza Hotel
709,Lumut,MY,87.82,scattered clouds,4.2323,100.6298,"Marina Island Pangkor Resort & Hotel (Suites, ..."

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))